body{
	font-size:		16px;
	line-height:	20px;
}
iframe{
	border: 0px !important;
	width: 100%;
}

div#tpn ul.prenext, div#bpn ul.prenext {
	height: 29px;
	background:  0 -55px no-repeat;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}
div#tpn ul.prenext li, div#bpn ul.prenext li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0px;
	overflow: hidden;
}
ul.prenext li, ul.prenext a {
	display: block;
	height: 29px;
}
div#tpn ul.prenext a, div#bpn ul.prenext a {
text-indent: -9999px;
text-decoration: none;
}
ul.prenext li, ul.prenext a {
display: block;
height: 29px;
}
.pre {
	left: 0;
	width: 105px;
}
div#navsecond a:link, div#navsecond a:visited {
text-decoration: none;
color: #000;
background: transparent;
}
div#course {
 
}
html>body div#navsecond {
	margin-left: 12px;
}
div#navsecond {
	display: block;
	float: left;
	margin: 0 0 0 6px;
	padding: 0;
	border: 0;
	background: transparent;
}
div#maincontent {
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	width: auto;
	background: transparent;
}
div#navsecond ul, div#sidebar ul {
margin-left: 12px;
}
div#navsecond li, div#sidebar li {
list-style: none;
}
div#navsecond ul, div#navsecond li, div#sidebar ul, div#sidebar li {
margin: 0;
padding: 0;
}
div#navsecond li.currentLink a:link, div#navsecond li.currentLink a:visited {
text-decoration: none;
color: #ff0000;
background: transparent;
}
div#navsecond li, div#sidebar li {
list-style: none;
}

div#maincontent	div {
	width: 98%;
	margin: 0 0 0 15px;
	padding: 20px 0 20px 0;
	border: 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
div#maincontent h1 {
	font-size: 26px;
	font-weight: 400;
	margin: 15px 0 0 15px;
}
a:focus{
	background: gray;
	
}
table.dataintable {
	margin-top: 10px;
	border-collapse: collapse;
	border: 1px solid #aaa;
	width: 100%;
	table-layout:fixed;
	word-break:break-all
}
table.dataintable th {
	vertical-align: baseline;
	padding: 5px 15px 5px 6px;
	background-color: #d5d5d5;
	border: 1px solid #aaa;
	text-align: left;
}
table.dataintable td {
	vertical-align: text-top;
	padding: 6px 15px 6px 6px;
	background-color: #efefef;
	border: 1px solid #aaa;
}
table.dataintable td:first-child{
}
pre {
	margin: 10px 0 0 0;
	padding: 10px;
	border: 0;
	border: 1px dotted #785;
	background: #f5f5f5;		word-wrap: break-word;	word-break: break-all;
}